---
import MiLayout from "../layouts/MiLayout.astro";
---
<MiLayout tittle = "Saludando">
<h1>Saludos nigger</h1>
<p>Esta es mi primera pagina usando AstroJS</p>
</MiLayout>
<script>

</script>

<style>

</style>