---
import MiLayout from "../layouts/MiLayout.astro";

---

<MiLayout>
    <h1>Listado de Teachers favoritos usando CSR</h1>
    <ul id = 'profes'>
    </ul>
</MiLayout>

<script>
    const teachers = ['Angel', 'Pepe', 'Antonio', 'Marta', 'Isa'];
    const $ul = document.getElementById('profes');
    teachers.forEach(teacher => {
        const $li = document.createElement('li');
        $li.textContent = teacher;
        $ul?.appendChild($li);
    });
</script>