<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/saludo">Saludo</a></li>
    <li><a href="/teachers">Teachers SSG</a></li>
    <li><a href="/teachers2">Teachers CSR</a></li>
    <li><a href="/technologies">Tecnologías</a></li>
    <li><a href="/tailwind">Tailwind</a></li>
    <li><a href="/flowbite">Flowbite</a></li>
    <li><a href="/users">Usuarios</a></li>
    <li><a href="/posts">Posts</a></li>
  </ul>
</nav>

<style>
    nav{
        display: flex;
        gap: 10px;
    }

    nav ul{
        display: flex;
        gap: 8px;
    }

    li{
        list-style: none;
    }

    nav a{
        color: black;
        text-decoration: none;
        transition: all 1s;
    }

    nav a:hover{
        color: darkblue;
    }
</style>
